breakout/resources/GIMP_files/*
breakout/__pycache__/*
breakout/*.pyc
breakout/game/__pycache__/*
breakout/game/*.pyc
breakout/editor/__pycache__/*
breakout/editor/*.pyc
breakout/util/__pycache__/*
breakout/util/*.pyc
dist/*
venv/*
MANIFEST
breakout.desktop
