[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Breakout
Comment=A Breakout Clone
Path=/home/derek/Programming/Python/Breakout/
Exec=/home/derek/Programming/Python/Breakout/breakout.py
Icon=/home/derek/Programming/Python/Breakout/breakout/resources/images/ball.png
Categories=Game;
Keywords=breakout;game;pygame;python;
